### Portfolio Alloction & Sharpe Ration Code

In [222]:
import pandas as pd
from pandas_datareader import data as pdr
import matplotlib.pyplot as plt
import datetime
#%pyplot inline
import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)
tic = ['AAPL', 'CSCO', 'IBM', 'AMZN' ]
# download dataframe using pandas_datareader
data = pdr.get_data_yahoo(tic, start="2012-01-01", end="2027-01-01")

[*********************100%***********************]  4 of 4 completed

In [223]:
app = data['Adj Close']['AAPL']
cisco = data['Adj Close']['CSCO']
IBM = data['Adj Close']['IBM']
AMZN = data['Adj Close']['AMZN']

In [224]:
app = pd.DataFrame(app)
cisco = pd.DataFrame(cisco)
IBM = pd.DataFrame(IBM)
AMZN = pd.DataFrame(AMZN)
#app.set_index('Date', inplace = True)

In [225]:
app['Adj Close'] = app['AAPL']
cisco['Adj Close'] = cisco['CSCO']
IBM['Adj Close'] = IBM['IBM']
AMZN['Adj Close'] = AMZN['AMZN']

In [226]:
for i in (app, cisco, IBM,AMZN):
    i['NormReturn'] = i['Adj Close']/i.iloc[0]['Adj Close']

In [227]:
app.drop(['AAPL'], axis = 1)
cisco.drop(['CSCO'], axis = 1)
IBM.drop(['IBM'], axis =1)
AMZN.drop(['AMZN'], axis = 1)

              Adj Close  NormReturn
Date
2012-01-03   179.029999    1.000000
2012-01-04   177.509995    0.991510
2012-01-05   177.610001    0.992068
2012-01-06   182.610001    1.019997
2012-01-09   178.559998    0.997375
...                 ...         ...
2020-05-22  2436.879883   13.611573
2020-05-26  2421.860107   13.527678
2020-05-27  2410.389893   13.463609
2020-05-28  2401.100098   13.411719
2020-05-29  2407.060059   13.445010

[2115 rows x 2 columns]

### Porfolio Allocation
* 30% Apple
* 20% Cisco
* 40% Amazon
* 10% IBM

In [228]:
for i, j in zip((app, cisco, IBM,AMZN), [.3,.2,.4, .1]):
    i['Allocation'] = i['NormReturn']*j

In [229]:
app

                  AAPL   Adj Close  NormReturn  Allocation
Date
2012-01-03   50.857235   50.857235    1.000000    0.300000
2012-01-04   51.130558   51.130558    1.005374    0.301612
2012-01-05   51.698215   51.698215    1.016536    0.304961
2012-01-06   52.238651   52.238651    1.027163    0.308149
2012-01-09   52.155792   52.155792    1.025533    0.307660
...                ...         ...         ...         ...
2020-05-22  318.890015  318.890015    6.270298    1.881089
2020-05-26  316.730011  316.730011    6.227826    1.868348
2020-05-27  318.109985  318.109985    6.254960    1.876488
2020-05-28  318.250000  318.250000    6.257713    1.877314
2020-05-29  318.690002  318.690002    6.266365    1.879910

[2115 rows x 4 columns]